<div style="padding: 0 8.889vw 0 8.889vw">
    <div style="margin-top: 8.889vw; margin-bottom: 8.889vw;"></div>
    <app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
    <div style="margin-top: 8.889vw; margin-bottom: 8.889vw;"></div>
    <app-botao [tipoBotao]="'flutuante-mobile'" [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
</div>
<div style="margin-top: 8.889vw; margin-bottom: 8.889vw;"></div>
<div style="padding: 0 8.889vw 0 8.889vw">
    <app-card-informacao [imagem]="'relogio'" [direcionador]="false"></app-card-informacao>
    <div style="margin-top: 8.889vw; margin-bottom: 8.889vw;"></div>
    <app-card-informacao [imagem]="'cafe'"></app-card-informacao>
    <div style="margin-top: 8.889vw; margin-bottom: 8.889vw;"></div>
    <app-card-informacao [imagem]="'lanchemanha'"></app-card-informacao>
    <div style="margin-top: 8.889vw; margin-bottom: 8.889vw;"></div>
    <app-card-informacao [imagem]="'almoco'"></app-card-informacao>
    <div style="margin-top: 8.889vw; margin-bottom: 8.889vw;"></div>
    <app-card-informacao [imagem]="'lanchetarde'"></app-card-informacao>
    <div style="margin-top: 8.889vw; margin-bottom: 8.889vw;"></div>
    <app-card-informacao [imagem]="'janta'"></app-card-informacao>
    <div style="margin-top: 8.889vw; margin-bottom: 8.889vw;"></div>
    <app-card-informacao [imagem]="'ceia'"></app-card-informacao>
    <div style="margin-top: 8.889vw; margin-bottom: 8.889vw;"></div>
    <app-tabela-alimentos [alimentos]="alimentos"></app-tabela-alimentos>
    <div style="margin-top: 8.889vw; margin-bottom: 8.889vw;"></div>
    <app-card-checkbox (statusMetas)="salvarMetas($event)"></app-card-checkbox>
</div>
<div style="margin-top: 8.889vw; margin-bottom: 28.889vw;"></div>
<app-menu-rodape></app-menu-rodape>