<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-botao [texto]="'Botao do Broccoli'" (botaoClicado)="botaoTeste()"></app-botao>
<app-menu-rodape></app-menu-rodape>